/* Reset y base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f9f9f9;
    color: #2d684a;
}

/* Encabezado superior */
.cabezera {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

.container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    max-width: 1200px;     /* Limita el ancho total */
    margin: auto; 
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 0px;
    width: auto; /* ← Esto es clave: evita que ocupe toda la línea */
}

.logo img {
  height: 80px; /* Ajustado para que no desborde */
}

.links {
    padding: 15px 20px;
    color: #f96604;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

/* Menú hamburguesa oculto en desktop */
.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #f96604;
}

.banner {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover; /* cambia a cover para ocupar todo el ancho */
}

@media (max-width: 768px) {
    .cabezera {
        margin-bottom: 0;
    }

    .container-top {
        padding: 5px 15px;
        margin-bottom: 0;
        flex-direction: row;
        align-items: center;
    }

    .logo {
        margin-top: 0;
    }

    .menu {
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: #fff;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        padding: 10px;
    }

    .menu.show {
        display: flex;
    }

    .hamburger {
        display: block;
        margin: 0;
        padding: 0;
        line-height: 1;
    }

    .banner {
        width: 100%;
        aspect-ratio: 725 / 935;
        background-image: url("imagenes/banner_vertical.png");
        background-size: contain;   /* muestra toda la imagen sin recortes */
        background-position: top;

    }

    .banner img {
        display: none; /* oculta el <img> ya que usamos background */
    }

    /* Ajuste del logo */
    .logo img {
        height: 70px; /* un poco más pequeño para móviles */
    }
}
